.iModal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;

  
    transition: 2s;
}

.iModal{
    background-color: white;
    border-radius: 4px;
    min-width:  800px;
    max-height: 600px;
    padding: 15px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow: auto;
    z-index: 999;

    transition: 0.5s;
}

.button-modal-close{
    float: right;
    background: unset;
    border: none;
}